
!!! 5
html( lang="en" )
  head
    //script( src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js' )
    link( rel='stylesheet', src='/test.css' )
  body( onload="init(false, 16);" )
    // script( src='/box2d.js' )

    script( src='/socket.io/socket.io.js' )
    script( src='/bundle.js' )

    canvas( id='canvas' )
    div( id='world' )

    // != js('app')
    script( src='/boxdemo.js' )