
!!! 5
html( lang="en" )
  head
    link( rel='stylesheet', src='/test.css' )

  body
    script( src='/socket.io/socket.io.js' )

    div( id='divworld' )
    canvas( id='cworld' )

    script( src='/bundle.js' )

